.banner {
    background-color: #BADA55;
    background-image: url('/media/images/100-90-5-monochrome.png');
    background-repeat: repeat;
    filter: none;
    padding: 0;
}
.banner a {
text-decoration:none;
color:#333;
}
.navbar{
text-transform:uppercase;
}

.banner h1{
margin-top: 20px;
margin-bottom: 20px;
}

.banner img{
margin-top: 0px;
margin-bottom: 0px;
}

.footer{
background-color:rgba(21, 25, 25, 0.8)
}